.container {
    max-width: 25dvw;
    width: max-content;
    height: max-content;
    margin: 1.2dvw;
    padding: 1dvh 2dvw;
    border-radius: 0.2rem 3rem 0.2rem 0.2rem;
    background-color: var(--main-font-color);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all 0.8s;
  }
  
  .container:nth-child(even) {
    background-color: var(--main-wood-color);
  }
  
  .task {
    font-size: 3dvw;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    width: max-content;
    margin-bottom: 0.2rem;
    text-align: center;
    text-transform: capitalize;
    
    color: var(--light-color);
  }
 
  .date {
    text-align: left;
    font-size: 1.3dvw;
    margin: 1rem 0;
    padding: 0.2rem;
  }

  
  @media  screen and (max-width:450px) {
    .task{
      font-size: 6dvw;
    }
    .description{
      font-size: 5dvw;
    }
    .date{
      font-size: 4.5dvw;
    }
   
  }
  
  