.formPage {
  height: 100dvh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70dvh;
  margin: 5dvh 10dvw;
  border-radius: 1rem;
  color: var(--light-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(1rem);

}
.form .header {
  font-size: 4dvw;
  text-align: center;
}
.form label {
  font-size: 2dvw;
  letter-spacing: 1dvw;
  border-bottom: 0.2rem solid var(--light-color);
}

.form .task {
  font-size: 3dvw;
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  word-spacing: 0.2rem;
  background-color: transparent;
  border: none;
  text-align: center;
  transition: all 0.5s;
}
.form .task:focus {
  outline-color: var(--main-font-color);
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.task::placeholder{
  font-size: 3dvw;
  color: var(--main-font-color);
}

.form .desc {
  height: 18dvh;
  text-align: center;
  font-size: 2dvw;
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  word-spacing: 0.2rem;
  background-color: transparent;
  border: none;
  transition: all 0.5s;
}

.form .desc:focus {
  outline-color: var(--main-font-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.desc::placeholder{
  font-size: 2dvw;
  color: var(--main-font-color);
}

.form .desc::-webkit-scrollbar {
  display: none;
}

.form .date {
  border-radius: 1rem;
  padding: 0.4rem;
  border: none;
  background-color: transparent;
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  word-spacing: 0.2rem;
}
.form .date:focus {
  outline-color: var(--main-font-color);
}


.form button {
  width: 20%;
  color: var(--light-color);
  margin: 1rem;
  font-size: 2dvw;
}

@media screen and (max-width:450px) {
  .form{
    position: absolute;
    top: 10dvh;
    justify-content: space-around;
  }
  .form .task{
    font-size: 6dvw;
  }
  .form .desc{
    font-size: 6dvw;
  }
  .form button{
    width: 50%;
    font-size: 4dvw;
  }
}